<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,700" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/png">
    <title>Natours | <%= title %></title>
</head>
<body>
    <%- include('./partials/header.ejs') %>

    <main class="main">
        <div class="user-view">
            <nav class="user-view__menu">
                <ul class="side-nav">
                    <li class="side-nav--active">
                        <a href="#">
                            <svg>
                                <use xlink:href="img/icons.svg#icon-settings"></use>
                                <span>Settings</span>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="/my-bookings">
                            <svg>
                                <use xlink:href="img/icons.svg#icon-briefcase"></use>
                                <span>My bookings</span>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <svg>
                                <use xlink:href="img/icons.svg#icon-star"></use>
                                <span>My reviews</span>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <svg>
                                <use xlink:href="img/icons.svg#icon-credit-card"></use>
                                <span>Billing</span>
                            </svg>
                        </a>
                    </li>
                </ul>
                <% if (locals.user.role === 'admin') { %>
                    <div class="admin-nav">
                        <h5 class="admin-nav__heading">Admin</h5>
                        <ul class="side-nav">
                            <li>
                                <a href="#">
                                    <svg>
                                        <use xlink:href="img/icons.svg#icon-map"></use>
                                        <span>Manage tours</span>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <svg>
                                        <use xlink:href="img/icons.svg#icon-users"></use>
                                        <span>Manage users</span>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <svg>
                                        <use xlink:href="img/icons.svg#icon-star"></use>
                                        <span>Manage reviews</span>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <svg>
                                        <use xlink:href="img/icons.svg#icon-briefcase"></use>
                                        <span>Manage bookings</span>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                <% } %>
            </nav>

            <div class="user-view__content">
                <div class="user-view__form-container">
                    <h2 class="heading-secondary ma-bt-md">Your account settings</h2>
                    <!--WITHOUT API-->
                    <!-- <form action="/submit-user-data" class="form form-user-data" method="POST" enctype="multipart/form-data"> -->

                    <!--WITH API-->
                    <form class="form form-user-data">
                        <div class="form-group">
                            <label for="name" class="form__label">Name</label>
                            <input type="text" name="name" id="name" class="form__input" value="<%- user.name %>" required>
                        </div>
                        <div class="form-group ma-bt-md">
                            <label for="email" class="form__label">Email address</label>
                            <input type="email" name="email" id="email" class="form__input" value="<%- user.email %>" required>
                        </div>
                        <div class="form-group form__photo-upload">
                            <img src="img/users/<%- user.photo %>" alt="User photo" class="form__user-photo">
                            <input type="file" name="photo" id="photo" class="form__upload" accept="image/*">
                            <label for="photo">Choose new photo</label>
                            <!-- <a href="" class="btn-text">Choose a new photo</a> -->
                        </div>
                        <div class="form-group right">
                            <button class="btn btn--small btn--green">Save settings</button>
                        </div>
                    </form>
                </div>

                <div class="line">&nbsp;</div>

                <div class="user-view__form-container">
                    <h2 class="heading-secondary.ma-bt-md">Password change</h2>
                    <form class="form form-user-password">
                        <div class="form-group">
                            <label for="password-current" class="form__label">Current password</label>
                            <input type="password" id="password-current" class="form__input" placeholder='••••••••', minlength='8' required>
                        </div>
                        <div class="form-group">
                            <label for="password" class="form__label">New password</label>
                            <input type="password" id="password" class="form__input" placeholder='••••••••', minlength='8' required>
                        </div>
                        <div class="form-group">
                            <label for="password-confirm" class="form__label">Confirm password</label>
                            <input type="password" id="password-confirm" class="form__input" placeholder='••••••••', minlength='8' required>
                        </div>
                        <div class="form-group right">
                            <button class="btn btn--small btn--green btn--save-password">Save password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <%- include('./partials/footer.ejs') %>

    <script src="/js/updateSettings.js" type="module"></script>
    <script src="/js/login.js" type="module"></script>
</body>
</html>